.oops{
  font-size: 90px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}


.li{
  font-size: 27px;
  color:black;
  font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;

}
.nav h3{
  font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
}

  .profileh{
 
    font-size: 30px;
   font-family: 'Montserrat', sans-serif;
   font-family: 'Raleway', sans-serif;
   font-family: 'Roboto', sans-serif;
  }

  .p{
    margin: 20px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
  }

/*Home*/

.date{
  background-color:rgb(245, 243, 243);
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 20px;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.manas p{
  font-family: "Crimson Pro", serif;
  font-size: 70.9px;

}
.manas span{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  
  
}
.hhm .hdiv2 .hhmp1{
 font-size: 23.9px;
 font-family: 'Montserrat', sans-serif;
 font-family: 'Raleway', sans-serif;
 font-family: 'Roboto', sans-serif;
}

.hhm .hdiv2 #srs{
  font-size: 31px;
  font-family: "Lumanosimo", cursive;
}
.hhm .hdiv2 #dps{
  font-size: 31px;
  font-family: "Lumanosimo", cursive;
}
.hhm .hdiv2 #anx{
  font-size: 31px;
  font-family: "Lumanosimo", cursive;
}

.span1inlatest{
  font-size: 39px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.span1inlatest2{
  font-size: 23px;
  text-shadow: 0.3px 0.3px 0.3px rgb(12, 12, 12);
}
.hover-div p{
  font-family: "Lumanosimo", cursive;
  font-size: 12px;
}
.hover-div h3{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.testp{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
font-size: 25px;
}
.testdiv1 p{
  font-family: "Lumanosimo", cursive;
  font-size: 12.5px;
}
.movingtext{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.blink1{
  font-family: "Rouge Script", cursive;
  font-size: 50px;
  font-weight: bold;
}
.hello{
  font-family: "Crimson Pro", serif;
  font-size: 40.9px;
}
.wel-come p{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.hed dl{
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.uli{
  margin:7px;
  margin-left: 30px;
  font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.innerh{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
}
 /*Questions*/
 
.qt p{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
}


.pred{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  
}

.Resshow{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
}

/*Awareness*/

.adiv1 p{

  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.whatismentalhealth p{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}
/*Report*/

.report{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/*T-home*/
.studentdetailsdiv{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.headerp{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/*forgot*/
.fp{
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.fp2{
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.fp1{
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}


dt{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}


/*contact us page*/
.contact-info p{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}


/*Food and Exercises and Activities*/
.hob h1,.hinac{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

dd{
  font-style: italic;
 }
