/*Css for navigation*/
.nav {
    position: sticky;
    display: flex;
    top: 0;
    z-index: 5;
  justify-content: space-around;
  align-items: center;
    background-color: black;
   height: 57px;
  }
  
 

.nav .ul .innerdiv .active {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: rgb(188, 183, 183);
}

/* .sticky {
    position: sticky;
    margin-top: 0;
    z-index: 5;
  }
  
   */
.nav h3{
    color: whitesmoke;
    font-size: 27px;
    position: relative;
    right: 120px;
    top: 3px;
  }
  
  .nav .innerdiv{
    display: flex;
    width: 39vw;
    align-items: end;
    justify-content: space-between;

    list-style-type: none;
   height: 39px;
   position: relative;
   left: 27.7%;
  }
  
  .li:hover{
    color: blue;
    font-weight: bold;
  }
  
  .li{
    color: whitesmoke;
  }

  .logout{
    cursor: pointer;
    z-index: 5;
   padding: 3px 13px 3px 13px;
    border-radius: 20px;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 19px;
  }